<div class="row d-flex no-padding no-margin" *ngIf="isLoading" style="min-height: 100%;">
  <div class="col-12 m-auto">
    <div class="lds-dual-ring m-auto"></div>
  </div>
</div>

<div *ngIf="!isLoading" class="row no-padding no-margin" style="min-height: 100%;">
  <div class="col-12">

    <div class="row mt-4">
    <mat-card class="mx-auto col-8 col-md-4">
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field color="accent">
          <input
          matInput
          type="email"
          placeholder="E-mail Adress"
          name="email"
          ngModel
          #emailInput="ngModel"
          required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid E-mail</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <input
          matInput
          type="text"
          placeholder="Firstname"
          name="firstname"
          ngModel
          #firstnameInput="ngModel"
          required>
          <mat-error *ngIf="firstnameInput.invalid">Please enter a valid firstname</mat-error>
        </mat-form-field>

        <mat-form-field color="accent">
          <input
          matInput
          type="text"
          placeholder="Lastname"
          name="lastname"
          ngModel
          #lastnameInput="ngModel"
          required>
          <mat-error *ngIf="lastnameInput.invalid">Please enter a valid lastname</mat-error>
        </mat-form-field>

        <button
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="!isLoading"
        style="color: #ffffff">Signup</button>
      </form>
    </mat-card>
    </div>

  </div>
</div>
