<div class="login-card">
  <h5 class="title">{{ 'login.sentence' | translate }}</h5>
  <form [formGroup]="form" (ngSubmit)="login()">
    <input type="text" placeholder="{{ 'login.enterEmail' | translate }}" class="main-input" formControlName="email">
    <input type="password" placeholder="{{ 'login.enterPassword' | translate }}" class="mt-1 main-input" formControlName="password">
    <button mat-button class="submit-btn" [disabled]="loading ? '' : null">
      <mat-spinner diameter="20" class="loading-spinner" *ngIf="loading"></mat-spinner> <ng-container *ngIf="!loading">
        {{ 'login.doLogin' | translate }}
      </ng-container>
    </button>
  </form>
  <div class="google-login">
    <button mat-button class="google-connect-btn">
      <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.137/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; width: 18px;">
      {{ 'login.loginWithGoogle' | translate }}
    </button>
  </div>
  <div class="footer">
    <a class="footer-link">{{ 'login.forgotPassword' | translate }}</a>
    <br>
    <a class="footer-link" routerLink="/register">{{ 'login.createAccount' | translate }}</a>
  </div>
</div>