<div class="login-card">
  <h5 class="title">Connectez-vous à votre compte</h5>
  <form [formGroup]="form" (ngSubmit)="login()">
    <input type="text" placeholder="Saisir l'adresse e-mail" formControlName="email">
    <input type="password" placeholder="Saisir le mot de passe" class="mt-1" formControlName="password">
    <button mat-button class="submit-btn" [disabled]="loading ? '' : null">
      <mat-spinner diameter="20" class="loading-spinner" *ngIf="loading"></mat-spinner> <ng-container *ngIf="!loading">Se connecter</ng-container>
    </button>
  </form>
  <div class="google-login">
    <button mat-button class="google-connect-btn">
      <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.137/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; width: 18px;">Se connecter avec google
    </button>
  </div>
  <div class="footer">
    <a class="footer-link">Mot de passe oublié</a>
    <br>
    <a class="footer-link" routerLink="/register">Créer un compte</a>
  </div>
</div>