<div class="dial-container">
  <h5 class="title">{{ 'organization.createOrganization' | translate }}</h5>
  <div class="container">
    <form [formGroup]="form" class="form" (ngSubmit)="createOrganization()">
      <input formControlName="name" placeholder="{{ 'organization.enterName' | translate }}" class="main-input">
      <button mat-button class="submit-btn mt-2" [disabled]="form.invalid || loading ? '' : null">
        <mat-spinner diameter="20" class="loading-spinner" *ngIf="loading"></mat-spinner>
        <ng-container *ngIf="!loading">
        {{ 'organization.continue' | translate }}
        </ng-container>
      </button>
    </form>
  </div>
</div>