<div class="login-card">
  <h5 class="title">{{ 'login.createAccount' | translate }}</h5>
  <form [formGroup]="form" (ngSubmit)="register()">
    <input type="text" placeholder="{{ 'login.enterEmail' | translate }}" formControlName="email">
    <input type="text" placeholder="{{ 'register.enterFirstname' | translate }}" class="mt-1" formControlName="firstname">
    <input type="text" placeholder="{{ 'register.enterLastname' | translate }}" class="mt-1" formControlName="lastname">
    <input type="password" placeholder="{{ 'login.enterPassword' | translate }}" class="mt-1" formControlName="password">
    <input type="password" placeholder="{{ 'register.enterPasswordCheck' | translate }}" class="mt-1" formControlName="passwordVerif">
    <button mat-button class="submit-btn" [disabled]="loading ? '' : null">
      <mat-spinner diameter="20" class="loading-spinner" *ngIf="loading"></mat-spinner> <ng-container *ngIf="!loading">{{ 'login.doRegister' | translate }}</ng-container>
    </button>
  </form>
  <div class="footer">
    <a class="footer-link" routerLink="/login">{{ 'register.alreadyOwnAccount' | translate }}</a>
  </div>
</div>