<div class="row d-flex no-padding no-margin" *ngIf="isLoading" style="min-height: 100%;">
  <div class="col-12 m-auto">
    <div class="lds-dual-ring m-auto"></div>
  </div>
</div>

<div *ngIf="!isLoading" class="row no-padding no-margin" style="min-height: 100%;">
  <div class="col-12">

    <div class="row mt-4">
      <mat-card class="col-md-4 col-8 mx-auto">
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <mat-form-field color="accent">
            <input
            matInput
            type="email"
            placeholder="E-mail Adress"
            name="email"
            ngModel
            #emailInput="ngModel"
            required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid E-mail</mat-error>
          </mat-form-field>

          <mat-form-field color="accent">
            <input
            color="accent"
            matInput
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
          </mat-form-field>
          <button
          mat-raised-button
          color="accent"
          type="submit"
          *ngIf="!isLoading"
          style="color: #ffffff">Login</button>
        </form>
      </mat-card>
    </div>

  </div>
</div>
